NEXT_PUBLIC_SUPABASE_URL=https://YOUR_PROJECT_ID.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY
SUPABASE_SERVICE_ROLE_KEY=YOUR_SUPABASE_SERVICE_ROLE_KEY

NEWEBPAY_MERCHANT_ID=YOUR_MERCHANT_ID
NEWEBPAY_HASH_KEY=YOUR_HASH_KEY
NEWEBPAY_HASH_IV=YOUR_HASH_IV
NEWEBPAY_ENV=test
NEXT_PUBLIC_SITE_URL=https://slowbike-website.vercel.app
ADMIN_AUTH_USER_IDS=SUPABASE_AUTH_UID_1,SUPABASE_AUTH_UID_2
