# dependencies
/node_modules
/.tools

# next.js
/.next/
/out/

# production
/build

# local env files
.env*
!.env.local.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
*.pem
